Connected to Python 3.11.2

In [1]:
#3 types - AND,OR,NOT
#AND = returns true if both are true or else false
x=10
y=20
result=(x>20) and (y<10)
print(result)

False

In [2]:
#OR= returns true if either one is true
x=10
y=20
result=(x<11) or (y<1)
print(result)

True

In [3]:
x=10
result=not(x>9)
print(result)

False

In [4]:
x=10
result=not(x<9)
print(result)

True

In [5]:
a=5
b=2
print(a is b)

False

In [6]:
a=5
b=5
print(a is b)

True

In [7]:
a=5
b=5
print(a is b)
print(a is not b)

True
False

In [8]:
a=5
b=5
print(a is b)
print(a is not b)
print(id(a))

True
False
140714942919592

In [9]:
a=5
b=5
print(a is b)
print(a is not b)
print(id(a))
print(id(b))

True
False
140714942919592
140714942919592

In [10]:
a=[1,2,3]
b=[1,2,3]
print(a is b)

False

In [11]:
a=[1,2,3]
b=[1,2,3]
print(a is b)
print(a is not b)

False
True

In [12]:
a=(1,2,3)
b=(1,2,3)
print(a is b)

False

In [13]:
a="hii"
b="hii"
print(a is b)

True

In [14]:
a=(1,2,3)
b=(1,2,3)
print(a is b)
print(a is not b)

False
True

In [15]:
a=500
b=500
print(a is b)

False

In [16]:
#uses in and not_in
fav_fruits=["apple","mango",'kiwi']
print("apple" in fav_fruits)
print("watermelon" in fav_fruits)

True
False

In [17]:
fav_fruits=["apple","mango",'kiwi']
print("muskmelon" not in fav_fruits)

True

In [18]:
fav_fruits=["apple","mango",'kiwi']
print("muskmelon" not in fav_fruits)
print("mango" in fav_fruits)

True
True

In [19]:
fav_fruits=["apple","mango",'kiwi']
print("muskmelon" not in fav_fruits)
print("mango" not in fav_fruits)

True
False

Connected to Python 3.11.2

In [1]:
result= 5+3*2-(8/4)**2
print(result)

7.0

In [2]:
2**3

8

In [3]:
2**3**2

512

In [4]:
2**2**2

16

In [5]:
result= 5-3*2+(8/4)**2
print(result)

3.0

In [6]:
result= 5+3*2-(8/4)**2
print(result)

7.0

In [7]:
2**3**3

134217728

In [8]:
a,b,c=2,3,4
print(a)
print(b)
print(c)

2
3
4

In [9]:
x=y=z=20
print(x,y,x)

20 20 20

In [10]:
a="Nirali"
print(f"my name is {a}")
b="niru"
print(f"My pet name is {b}")
#swap a and b
a,b=b,a
print(f'My new name is {a} ')
print(f"My nee pet name is {b}")

my name is Nirali
My pet name is niru
My new name is niru
My nee pet name is Nirali

In [11]:
x="hello"
x+="world"
print(x)

helloworld

In [12]:
x="hello"
x+= "world"
print(x)

helloworld

In [13]:
x="hello "
x+="world"
print(x)

hello world

In [14]:
x=5
x=x+2*3

In [15]:
x=5
x=x+2*3
print(x)

11

Connected to Python 3.11.2

In [1]:
my_name=["Nirali "]
my_name+=["Mokariya"]
print(my_name)

['Nirali ', 'Mokariya']

In [2]:
my_name=["Nirali"]
my_name+=["Mokariya"]
print(my_name)

['Nirali', 'Mokariya']

Connected to Python 3.11.2

In [1]:
my_dict={'a':1,'b':2}
my_dict["c"]:3
print(my_dict)

{'a': 1, 'b': 2}

In [2]:
my_dict={'a':1,'b':2}
my_dict["c"]=3
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [3]:
x=5
y=10
z=20
print(x<y<z)

True

In [4]:
a=int(input("enter your value:"))
between=18<=a<30
print(between)

True

In [5]:
a=int(input("enter your value:"))
between=18<=a<30
print(f"is the value between 18 and 13?"between)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-5-fc343c43f172>, line 4)

In [6]:
a=int(input("enter your value:"))
between=18<=a<30
print(f"is the value between 18 and 13?{between}"

SyntaxError: incomplete input (<ipython-input-6-9775972820ce>, line 4)

In [7]:
a=int(input("enter your value:"))
between=18<=a<30
print(f"is the value between 18 and 13?{between}")

is the value between 18 and 13?True

In [8]:
a='apple'
b="aunty"
print(a<b)

True

In [9]:
a='azple'
b="aunty"
print(a<b)

False

In [10]:
word="python1"
print(a<word<z)

TypeError: '<' not supported between instances of 'str' and 'int'

In [11]:
word="python1"
print('a'<word<'z')

True

In [12]:
word="python1"
print('a'<word>'z')

False

In [13]:
a=[1,2,3]
b=[1,2,3]
print(f"Are the lists equal?{a==b}")

Are the lists equal?True

In [14]:
a=[1,2,3]
b=[1,3,2]
print(a>b)

False

In [15]:
a=[1,2,3]
b=[1,3,2]
print(a<b)

True

In [16]:
a=25
b=15
c=5
print((a<b) or (b>c) and (c>0))

True

In [17]:
a=25
b=15
c=5
print((a<b) or (b<c) and (c>0))

False

In [18]:
x=True
y=False
z=True
print(x or not y and z)

True

In [19]:
x==True
y=False
z=True
print(x or not y and z)

True

In [20]:
print(not(x or y))

False

In [21]:
x=29392801
y=29392801
print(x is y)
print(id(x))
print(id(y))

False
2918749454640
2918749463504

In [22]:
 #Operators are used to perform some specific tasks
#Ex: x+y ;here x and y are considered as operands and + is the operator.
#Arithmetic operators:
#%% Addition operator(+)
x=5
y=15
result=x+y
print(result)

20

In [23]:
x=5
y=15
result=x-y
print(result)

-10

In [24]:
x=2
y=5
result=x*y
print(result)

10

In [25]:
x=10
y=2
result=x/y
print(result)

5.0

In [26]:
x=1001
y=20
result=x%y
print(result)

1

In [27]:
a=10
b=5
result=a//b
print(result)

2

In [28]:
a=5
b=2
result=a**b
print(result)

25

In [29]:
#=
x=5
print(x)

5

In [30]:
#+=
x=2
x+=3
print(x)

5

In [31]:
w=2
w-=1
print(w)

1

In [32]:
w=2
w*=2
print(w)

4

In [33]:
q=20
q/=2
print(q)

10.0

In [34]:
q=11
q%=2
print(q)

1

In [35]:
q=20
q//=10
print(q)

2

In [36]:
#3 types - AND,OR,NOT
#AND = returns true if both are true or else false
x=10
y=20
result=(x>20) and (y<10)
print(result)

False

In [37]:
#OR= returns true if either one is true
x=10
y=20
result=(x<11) or (y<1)
print(result)

True

In [38]:
x=10
result=not(x<9)
print(result)

True

In [39]:
a=5
b=5
print(a is b)     #true
print(a is not b)  #false
print(id(a))    #print memory address of a
print(id(b))    #print memory address of b

True
False
140727620072360
140727620072360

In [40]:
a=[1,2,3]
b=[1,2,3]
print(a is b)
print(a is not b)

False
True

In [41]:
a=(1,2,3)
b=(1,2,3)
print(a is b)
print(a is not b)

False
True

In [42]:
a="hii"
b="hii"
print(a is b)

True

In [43]:
a=500
b=500
print(a is b)

False

In [44]:
# this is not thatttttt used. Use == everytime dw.

In [45]:
#uses in and not_in
fav_fruits=["apple","mango",'kiwi']
print("apple" in fav_fruits)
print("watermelon" in fav_fruits)

True
False

In [46]:
fav_fruits=["apple","mango",'kiwi']
print("muskmelon" not in fav_fruits)
print("mango" not in fav_fruits)

True
False

In [47]:
result= 5+3*2-(8/4)**2
print(result)

7.0

In [48]:
2**3

8

In [49]:
2**3**2

512

In [50]:
2**2**2

16

In [51]:
2**3**3

134217728

In [52]:
a,b,c=2,3,4
print(a)
print(b)
print(c)

2
3
4

In [53]:
x=y=z=20
print(x,y,x)

20 20 20

In [54]:
a="Nirali"
print(f"my name is {a}")
b="niru"
print(f"My pet name is {b}")
#swap a and b
a,b=b,a
print(f'My new name is {a} ')
print(f"My nee pet name is {b}")

my name is Nirali
My pet name is niru
My new name is niru
My nee pet name is Nirali

In [55]:
x="hello "
x+="world"
print(x)

hello world

In [56]:
x=5
x=x+2*3
print(x)

11

In [57]:
my_name=["Nirali"]
my_name+=["Mokariya"]
print(my_name)

['Nirali', 'Mokariya']

In [58]:
my_dict={'a':1,'b':2}
my_dict["c"]=3
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [59]:
x=5
y=10
z=20
print(x<y<z)

True

In [60]:
a=int(input("enter your value:"))
between=18<=a<30
print(f"is the value between 18 and 13?{between}")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a='azple'
b="aunty"
print(a<b)    #here,a is same so second characters are compared that z>u

:

In [ ]:
word="python1"
print('a'<word>'z')

:

In [ ]:
a=[1,2,3]
b=[1,2,3]
print(f"Are the lists equal?{a==b}")

:

In [ ]:
a=[1,2,3]
b=[1,3,2]
print(a<b)

:

In [ ]:
a=25
b=15
c=5
print((a<b) or (b<c) and (c>0))

:

In [ ]:
x==True
y=False
z=True
print(x or not y and z)

:

In [ ]:
print(not(x or y))

:

In [ ]:
sent="java is so cool"
print("java" in sent)
print("Python" in sent)

:

In [ ]:
sent="java is so cool"
print("java" in sent)
print("Python" not in sent)

:

In [ ]:
sent="java is so cool"
print("java" in sent)
# print("Python" not in sent)

:

In [ ]:
sent = "java is so cool"
print("java" in sent)
# print("Python" not in sent)

:

In [61]:
sent = "java is so cool"
print("java" in sent)
# print("Python" not in sent)

True

In [62]:
a='azple'
b="aunty"
print(a<b)    #here,a is same so second characters are compared that z>u

False

In [63]:
word="python1"
print('a'<word>'z')

False

In [64]:
a=[1,2,3]
b=[1,2,3]
print(f"Are the lists equal?{a==b}")

Are the lists equal?True

In [65]:
a=[1,2,3]
b=[1,3,2]
print(a<b)

True

In [66]:
a=25
b=15
c=5
print((a<b) or (b<c) and (c>0))

False

In [67]:
x==True
y=False
z=True
print(x or not y and z)

5

In [68]:
print(not(x or y))

False

In [69]:
x=29392801
y=29392801
print(x is y)
print(id(x))
print(id(y))

False
2918752525968
2918752523696

In [70]:
sent = "java is so cool"
print("java" in sent)
# print("Python" not in sent)

True

In [71]:
sent = "java is so cool"
print("java" in sent)
print("Python" not in sent)

True
True

In [72]:
fruits=["apple",'banana','grapes']
print("apple" in fruits)

True

In [73]:
fruits=["apple",'banana','grapes']
print("apple" in fruits)
print('apple' in fruits and 'kiwi' in fruits)

True
False

In [74]:
name=input('''"Enter your name:"
Welcome to the club!''')
value1=int(input("Print the first value"))
value2=int(input("Print the second value"))
print(name)
print(value1)
print(value2)

Nirali
22
23

In [81]:
name=input("Enter your name:")
print(f"welcome to the club , {name}")
value1=int(input("Print the first value:"))
value2=int(input("Print the second value:"))
print(f"The original value1 is:{value1}")
print(f"The original value2 is:{value2}")
#after swapping
value1,value2=value2,value1
print(f"The swapped value1:{value1}")
print(f"The swapped value2:{value2}")

welcome to the club , asswin
The original value1 is:22
The original value2 is:23
The swapped value1:23
The swapped value2:22

In [86]:
Circumference = float(input("The circumference of a circle is:"))
pi=3.14
radius=Circumference/2*pi                    
print(radius)

18.84

In [88]:
Circumference = float(input("The circumference of a circle is:"))
pi=3.14
radius=Circumference/2*pi                    
print(radius)
#area of a circe = pi*r^2
Area=pi*radius**2
print(Area)

157.0
77397.86

In [89]:
circumference = float(input("The circumference of a circle is:"))
pi=3.14
radius=circumference/2*pi                    
print(radius)
#area of a circe = pi*r^2
area=pi*radius**2
print(area)

18.84
1114.529184

In [90]:
circumference = float(input("The circumference of a circle is:"))
pi = 3.14
radius = circumference/(2*pi)                    
print(radius)
#area of a circe = pi*r^2
area = pi*radius**2
print(area)

1.910828025477707
11.464968152866243

In [91]:
name=input("Enter your name:")
print(f"welcome to the club , {name}")
value1=int(input("Print the first value:"))
value2=int(input("Print the second value:"))
print(f"The original value1 is:{value1}")
print(f"The original value2 is:{value2}")
#after swapping
value1,value2=value2,value1
print(f"The swapped value1:{value1}")
print(f"The swapped value2:{value2}")

welcome to the club , Nirali
The original value1 is:12
The original value2 is:13
The swapped value1:13
The swapped value2:12

In [92]:
birth_year = int(input("Enter your birth year :"))
print(f"Your age is {2024-birth_year}")

Your age is 24

In [93]:
name = input("Enter your name:")
fav_cake = input("Enter your fav cake flavor:")
print(f"Hello, {name}! We're delighted to serve you your favorite {fav_cake} cake on your birthday. Happy Birthday.")

Hello, Ash! We're delighted to serve you your favorite Pineapple cake on your birthday. Happy Birthday.

In [95]:
principal = float(input("Enter principal value:"))
rate = float(input("Enter Rate of interest:"))
time = int(input("Enter time:"))
si = (principal*rate*time)/100
print(si)

93.84